:root{
	--mainColor:#a7a8ac;
	--secondaryColor:#606163;

	--borderColor:#fbc709;

	--mainHeaderText: #222326;
    --secondaryHeaderText:#222326;

    --mainBodyText:#fff;
    --secondaryBodyText:#222326;

	--themeDotBorder:#2a2a2b;

	/* db0714 */
	--iconColor: invert(9%) sepia(77%) saturate(7493%) hue-rotate(346deg) brightness(103%) contrast(107%);;

	--previewBg:rgb(0, 143, 70, 0.8);
	--previewText: #fff;
	--previewShadow:#0054b7;

	--skillsList: #fff;

	--buttonColor:#db0714;

	--hyperlinkColor: #fbc709;
    --contactLinkColor: #db0714;
}
