:root{
	--mainColor:#d9d9d9;
	--secondaryColor:#4d4d4d;

	--borderColor:#e95752;

	--mainHeaderText: #e95752;
    --secondaryHeaderText:#e95752;

    --mainBodyText:#d9d9d9;
    --secondaryBodyText:#e95752;

	--themeDotBorder:#e95752;

	--previewBg:rgb(217, 217, 217, 0.8);
	--previewText: #4d4d4d;
	--previewShadow: #e95752;

	--skillsList: #4d4d4d;

	--buttonColor:#e95752;

	--hyperlinkColor: #e95752;
    --contactLinkColor: #4d4d4d;
}
