:root{
	--mainColor:rgb(209,210,210);
	--secondaryColor:#bcbae5;

	--borderColor:#604baf;

	--mainHeaderText:black;
    --secondaryHeaderText:#4b5156;

    --mainBodyText:black;
    --secondaryBodyText:#604baf;

	--themeDotBorder:black;

	--previewBg:rgb(209, 210, 212, 0.9);
	--previewText: black;
	--previewShadow:#604baf;

	--skillsList: #fff;

	--buttonColor:#604baf;

	--hyperlinkColor: #604baf;
    --contactLinkColor: #604baf;
}
